@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

ul,
ol {
  list-style: none;
}

body {
  color: #eeeeee;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgb(250, 38, 160);
  background: radial-gradient(circle, rgb(250, 38, 160) 0%, rgb(245, 23, 32) 100%);
}

#container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 400px 1fr;
  grid-template-columns: 1fr 200px 100px 1fr;
}

#title {
  grid-row: 1/2;
  grid-column: 2/4;
  font-size: 1.6rem;
  line-height: 50px;
}

#board-cnt {
  grid-row: 2/3;
  grid-column: 2/3;
  border-radius: 5px;
  overflow: hidden;
}

#stat {
  width: 95px;
  overflow: hidden;
  grid-row: 2/3;
  grid-column: 3/4;
  padding-left: 5px;
}
#stat li {
  display: block;
  height: 60px;
  margin-bottom: 10px;
}
#stat #next-cnt {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  overflow: hidden;
}
#stat h3 {
  font-weight: normal;
  font-size: 1rem;
  padding-left: 5px;
  font-style: italic;
}
#stat span {
  font-size: 1.2rem;
  color: gold;
  display: block;
  padding-left: 5px;
}

#help {
  grid-row: 3/4;
  grid-column: 2/4;
  padding-top: 1rem;
}
#help dt {
  font-size: 1rem;
}
#help dd {
  font-size: 0.8rem;
  padding-left: 1rem;
}
#help dd span {
  display: inline-block;
  width: 100px;
}

/* buttons */
#buttons {
  display: none;
  grid-row: 3/4;
  grid-column: 1/5;
  position: relative;
}
#buttons div {
  cursor: pointer;
  background-color: gold;
  color: #666;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 1.5rem;
}
#buttons .l {
  bottom: 230px;
  left: 20px;
}
#buttons .r {
  bottom: 230px;
  left: 150px;
}
#buttons .d {
  bottom: 160px;
  left: 85px;
}
#buttons .hd {
  bottom: 160px;
  left: 225px;
  width: 42px;
  height: 42px;
}
#buttons .rotate {
  width: 105px;
  height: 105px;
  bottom: 220px;
  right: 20px;
  font-size: 2rem;
}
#buttons .s,
#buttons .p {
  border-radius: 5px;
  height: 30px;
  width: 120px;
  top: 15px;
}
#buttons .s span,
#buttons .p span {
  display: inline-block;
  margin-left: 10px;
  font-size: 0.8rem;
  color: red;
}
#buttons .p {
  left: 30px;
  font-size: 1.2rem;
}
#buttons .s {
  left: 160px;
}

/* break point */
@media screen and (max-width: 800px) {
  #buttons {
    display: block;
  }
  #help {
    display: none;
  }
}